html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* manual import required */
@import '../node_modules/semantic-ui-css/semantic.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css'